h1{
    color: darkgoldenrod;
    text-align: center;
}
#product-container{
    display: grid;
    border: 2px solid green;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: auto;
    gap: 25px;
    text-align: center;
    padding: 10px;
    
}
#card{
    border: 2px solid green;
    padding: 10px;
    border-radius: 8px;
    background-color: white
    ;
}
img{
    width: 100%;
}
#btn{
    color: white;
    background-color: #ff7043;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

   
}