*{
    margin: 0px;
    padding: 0px;
    font-family:"Roboto-Bold";
}

body{
    background-image: url(https://thumbs.dreamstime.com/z/newborn-baby-boy-clothes-hanging-rope-baby-fashion-colorful-babyboy-polka-dot-background-design-template-invitations-40436596.jpg);
}
     
h6{
    font-size: 30px;
    display: none;
    text-align: center;
    margin: 100px 0px ;
    color: rgb(77, 8, 37);
}
.header{
    width: 500px;
    height: 90vh;
    border: solid 3px rgb(231, 210, 207);
    margin: auto;
    margin-top: 30px;
    padding: 0px 8px 5px 8px;
    position: relative;
}

.header div{
    margin-top: 4px;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    padding: 5px 0px;
}

#card-pay,
#upi-pay,
#paytm-pay,
#net-pay,
#cod-pay {
    margin-top: 5px;
    background-color: #fff;
    cursor: pointer;

}

.header p,
li{
    font-size: 14px;
}

h3{
    background-color: rgb(120, 30, 165);
    color: white;
    text-align: center;
    font-size:19px;
    display: block;
    margin: 0px -8px;
    font-family: 'Roboto-Bold';
    line-height: 20px;
    padding: 5px 0px;
    opacity: .8;
}

.pay-opt{
    margin-top: 10px
}

.pay-opt h4{
    font-weight: 300;
    color: red;
}

span{
    color: blue;
    cursor: pointer;
}

img{
    width: 25px;
} 

/* CREDIT CARD CSS */
#card-pay{
    display: block;
}

.credit-card{
    display: none;
}

.credit-card h3 {
    background-color: #fff;
    color: black;
    margin: 0px 0px 2px 0px;
}

#card-pay h4:hover{
    cursor: pointer;
}

.card{
    margin-left: 213px;
    font-size: 21px;
}

.card2 {
    margin-left: 381px;
    font-size: 21px;
}

#card2 {
    display: none;
}

#card-num{
    width: 200px;
    padding: 2px 4px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus {
    border-bottom-color: rgb(231, 102, 16);
    transition: border-bottom-color 0.5s ease-out;
  }

#card-name{
    width: 300px;
    padding: 2px 4px;
    margin: 5px 0px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

#cvv {
    outline: none;
}

#card-btn{
    display: block;
    width: 65%;
    height: 35px;
    background-color: rgb(16, 152, 231);
    color: white;
    border: none;
    margin: auto;
    font-size: 17px;
    cursor: pointer;
    
}

/* UPI CSS*/
#upi{
    display: none;
}

.UPI{
    font-size: 21px;
    margin-left: 329px;
}

#upi-pay img {
    width: 21px;
}

#upi-pay p{
 margin: 5px 0px;
}

#upi-input {
    padding: 4px 3px;
    width: 250px;
    height: 20px;
    margin: 5px 0px 10px 0px;
    font-size: 15px;
    font-weight: bold;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    outline: none;
}

#upi-btn {
    display: block;
    width: 70%;
    height: 35px;
    margin: auto;
    font-size: 19px;
    background-color: rgb(16, 152, 231);
    color: #fff;
    border: none;
    cursor: pointer;
}

/* PAYTM CSS */

#paytm-pay p{
    margin: 7px 0px;
}

#paytm {
    display: none;
}

.ptm{
    font-size: 21px;
    margin-left: 238px;
}

#ptm-input{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 2px;
    margin: 5px 0px 10px 0px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    outline: none;
}

#link-btn {
    display: block;
    width: 70%;
    height: 35px;
    margin: auto;
    font-size: 15px;
    background-color: rgb(16, 152, 231);
    color: #fff;
    border: none;
    cursor: pointer;
}

#ptm-btn {
    display: block;
    width: 70%;
    height: 35px;
    margin: auto;
    font-size: 15px;
    background-color: rgb(16, 152, 231);
    color: #fff;
    border: none;
    cursor: pointer;
}

/* NET BANKING CSS */


#net-info {
    display: none;
}

.net{
    font-size: 21px;
    margin-left: 262px;
}

#net-info p {
    font-size: 16px;
}

#net-input {
    padding: 3px 100px 3px 4px;
    font-size: 16px;
    margin: 8px 4px 16px 0px;
}

#net-btn {
    display: block;
    width: 70%;
    height: 35px;
    margin: auto;
    background-color: rgb(16, 152, 231);
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* COD PAYMENT CSS */

#cod-info {
    display: none;
}

.image {
    width: 30px;
    height: 23px;
    object-fit: fill;
}

.cod {
    font-size: 21px;
    margin-left: 205px;
   
}

#cod-info li {
    font-size: 15px;
    margin-left: 25px;
    margin-top: 3px;
}

#cod-btn {
    display: block;
    width: 70%;
    height: 35px;
    margin: auto;
    margin-top: 14px;
    font-size: 15px;
    background-color: rgb(16, 152, 231);
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


/* POPUP CSS */
.popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 73%;
    display: none;
    background-color: rgb(235, 238, 238);
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 40%;
    top: 20%;
    left: 16%;
    right: 10%;
}

.popup img {
    width: 50%;
}

.popup-text{
    margin-top: 3%;
}

#input {
    z-index: 1;
    margin-top: 10px;
    border: 1px solid rgb(7, 218, 102);
    padding: 2px 1px;
    font-size: 15px;
}

#input:focus {
    outline: 1px solid  rgb(7, 218, 102);
}

#button {
    padding: 4px 20px;
    font-size: 14px;
    background-color: rgb(4, 107, 192);
    border: solid 1px rgb(4, 107, 192);
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
}
